<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue中常用的指令v-for</title>
    <script src="js/vue.js"></script>
</head>
<body>
    <div id="itany">
        <!--普通循环-->
        <ul>
            <li v-for="value in arr">
                {{value}}
            </li>
        </ul>
        <!--循环对象-->
        <ul>
            <li v-for="value in user">
                    {{value}}
            </li>
        </ul>
        <!--键值循环
            先是v，在是k
        -->
        <ul>
            <li v-for="(v,k) in arr">
                {{k}}={{v}}
            </li>
        </ul>
        <ul>
            <li v-for="(v,k) in user">
                {{k}}={{v}}
            </li>
        </ul>
        <!--循环包含重复数据的集合 可以通过指定:key属性绑定唯一key
            当更新元素时可以重用元素，提高效率
        -->
        <ul>
            <li v-for="(v,k) in brr" :key="k">
                {{v}}
            </li>
        </ul>
        <ul>
            <li v-for="user in users">
                {{user.id}},{{user.name}}
            </li>
        </ul>
       
    </div>
</body>
<script>
    /*
        v-for:对数组或对象进行循环操作，使用的是v-for
    */
    window.onload=function(){
        new Vue({
           el:'#itany',
           data:{
               arr:[1,2,3,4,5],
               brr:[1,2,3,4,1],
               user:{
                   id:999,
                   name:"xixi",
                   age:9
               },
               users:[
                   {id:11,name:"嘻嘻"},
                   {id:22,name:"哈哈"},
                   {id:33,name:"呵呵"}
               ]
           }
        })
    }
</script>
</html>